@model IEnumerable<FitnessClassFinder.Models.RegistrationRecord>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FitnessClassID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParticipantID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegistraionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FitnessClassID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParticipantID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegistraionDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RecordID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RecordID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RecordID })
        </td>
    </tr>
}

</table>
