@using FitnessClassFinder.Models
@model LoginViewModel
@{
    ViewBag.Title = "Welcome to Fitness Class Finder! ";
}

@{
    Layout = "~/Views/Shared/_MainLogin.cshtml";
}

@*<div class="container-full-bg" style="background-image: url(Images/header.jpg); background-size: 100% 100%;">
    <div class="jumbotron">
        <div class="col-md-12 text-center">
            <h3>Take care of your body.</h3>
            <h1>It's the only place you have to live..</h1>
        </div>
    </div>
</div>*@

<img src="~/Content/Images/lesmills3.jpg" alt="" img class="img-responsive" width="100%" height="100%"></a>

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Don't Have an Account? Please click Register.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Log in" class="btn btn-default" />
                        </div>
                    </div>
                    @*<p>
                            @Html.ActionLink("Register as a new user", "Register")
                        </p>*@
                    @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>*@
            }
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>

<link href="~/Content/Site.css" rel="stylesheet" type="text/css">

<div class="row">
    <div class="col-md-4">
        <h2>Participants</h2>
        <p>
            Find classes in your area and get class information.
        </p>
        <p><a class="btn btn-primary" href="@Url.Action("Register", "Account")">Register Now &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Instructors</h2>
        <p>Advertise your class for free and get feedback.</p>
        <p><a class="btn btn-primary" href="@Url.Action("Create", "Instructors")">Sign Up &raquo;</a></p>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
